$greyish_blue: hsl(237, 18%, 59%);
$soft_red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$dark_desaturated_blue: hsl(236, 21%, 26%);
$very_dark_blue: hsl(235, 16%, 14%);
$mostly_black_blue: hsl(234, 17%, 12%);